@import "card";

$fill-color: #bc9843;

.ssm-card.ssm-card-amex {

    &.ssm-card-flipped{
        @include transform(none);
    }

    &.ssm-card-identified {
        .ssm-card-front, .ssm-card-back {
            &:before {
                background-color: $fill-color;
            }
        }

        .ssm-card-front {

            .ssm-card-logo.ssm-card-amex {
                background-image: url('logos/amex.png');
                opacity: 1;
                height:65px;
                width:65px
            }

            .ssm-card-cvc {
                visibility: visible;
            }

            &:after {
                opacity: 1;
            }
        }
    }
}
