@import "card";
@import "../logos/dankort";

$fill-color: #0055C7;

.ssm-card.ssm-card-dankort {
    &.ssm-card-identified {
        .ssm-card-front, .ssm-card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .ssm-card-logo.ssm-card-dankort {
            opacity: 1;
        }
    }
}
