@import "card";
@import "../logos/elo";

$fill-color: #6F6969;

.ssm-card.ssm-card-elo {
    &.ssm-card-identified {
        .ssm-card-front, .ssm-card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .ssm-card-logo.ssm-card-elo {
            opacity: 1;
        }
    }
}
