@import "card";

$fill-color: #000000;

.ssm-card.ssm-card-visa {
    &.ssm-card-identified {
        .ssm-card-front, .ssm-card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .ssm-card-logo.ssm-card-visa {
            background-image: url('logos/visa.png');
            opacity: 1;
            height:36px;
        }
    }
}